.container {
  width: 100%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #004225;
}

h1 {
  margin: 30px;
  font-family: 'Pixelify Sans', sans-serif;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #EE9322;
}

p {
  font-size: 2rem;
  color: #EE9322;
  font-family: 'Pixelify Sans', sans-serif;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}

.button {
  margin-top: 20px;
  display: flex;
  justify-content: center;
   
}

.play-button {
  font-family: 'Pixelify Sans', sans-serif;
  font-size: 2rem;
  background-color: #EE9322;
  border-radius: 5px;
  border: 0;
  margin-top: 15px;
}
